.App {
  text-align: left;
  margin: 5rem;
}

.button {
  /* background-color: #fff !important; */
  /* color: #000 !important; */
  width: 120px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
